# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*

# Variables d'environnement
.env
.env.local

# Logs
logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Build
dist/
build/